.je{
    background-color: rgb(27, 236, 44);
    font-size: 125%;
    letter-spacing: 2px;
    margin-top: 10px; 
}
.msj{
    background-color: rgb(17, 17, 172);
    text-align: center;
    margin-left: 750px;
    margin-top: 200px;
    letter-spacing: 1px;  
    color: white;
    border-radius: 10px;
}
table{
    margin-left: 30%;
    padding: 5px 80px;
    margin-left: 15%;
}
body{
    background-color: rgb(119, 231, 147);
    border-radius: 20px;
}
.msj2{
    background-color: #2fa155;
    text-align: center;
    margin-left: 410px;
    margin-top: 150px;
    letter-spacing: 1px;  
    position: absolute;
    font-size:  35px;
    border-radius: 20px;
}
.Blog{
    position: absolute;
	display: block;
	padding: 5px 25px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 40px;
	margin-bottom: 60px;
	overflow: hidden;
	color:rgb(0, 0, 0);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#2fa155;
    margin-left: 45%;
    margin-top: 12%;
    
}
.Blog:after,.Blog:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;

}
.Blog:before{
	left: -48%;
}
.Blog:hover{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#0c6846
}
.Blog:hover:after,.Blog:hover::before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
.Blog:hover:after{
    right: 130%;
}
.Blog:hover:before{
    left: 130%;
}
.Breg{
    background-color: brown;
    width: 90px;
    height: 40px;
    margin-left: 5px; 
}

.Blog2{
    position: absolute;
	display: block;
	padding: 5px 25px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 40px;
	margin-bottom: 60px;
	overflow: hidden;
	color:rgb(0, 0, 0);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#2fa155;
    margin-left: 42%;
    margin-top: 12%;
    
}
.Blog2:after,.Blog:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;

}
.Blog2:before{
	left: -48%;
}
.Blog2:hover{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#0c6846
}
.Blog2:hover:after,.Blog:hover::before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
.Blog2:hover:after{
    right: 130%;
}
.Blog2:hover:before{
    left: 130%;
}
.Breg2{
    background-color: brown;
    width: 90px;
    height: 40px;
    margin-left: 5px; 
}